layout {
    tab name="main" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane {
            pane name="code" size="90%" command="nvim"
            pane name="server" size="10%"
        }
    }
    tab name="index-2" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane name="ai"
    }
    tab name="index-3" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }
    tab name="index-4" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }
    tab name="index-5" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }
  }
